{% extends "ishop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section" style="margin:50px 35%">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">log in</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn" type="submit">Войти</button>
				<small class="tex-muted ml-2">
					<a href="{% url 'password_reset' %}">Забыли пароль?</a>
				</small>
			</div>
		</form>
	</div>
{% endblock content %}
